<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Stations</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Radio Stations</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/music">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/radio">Radio Stations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/music/artists">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/music/genres">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/music/songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/music/playlists">Playlists</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Search Radio Stations</h1>
<form action="{% url 'search_radio_stations_view' %}" method="GET">
    <div class="form-group">
        <label for="name">Radio Station Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter station name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="mt-5">
    <h2>Radio Stations</h2>
    <div class="list-group">
        <ul>
            {% for station in stations %}
                <li>{{ station.name }}</li>
            {% empty %}
                <li>No radio stations found.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Include Bootstrap bundle (includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
